<div *ngIf="nodes" class="boxes">
  <div class="box boxes__total-users">
    <h3 class="total-users__title">Total Nodes</h3>
    <h5 class="total-users__subtitle"></h5>
    <p class="total-users__content">{{ nodes }}</p>
  </div>
  <div class="box boxes__new-users">
    <h3 class="new-users__title">New Nodes</h3>
    <h5 class="new-users__subtitle">Last 24 hours</h5>
    <p *ngIf="newNodes" class="new-users__content">{{ newNodes }}</p>
    <p *ngIf="!newNodes" class="last-new__content">No new Nodes</p>
  </div>
  <div class="box boxes__last-new">
    <h3 class="last-new__title">Last Node</h3>
    <h5 class="last-new__subtitle"></h5>
    <p *ngIf="lastNode" class="last-new__content">{{ lastNode }}</p>
    <p *ngIf="!lastNode" class="last-new__content">Something wrong ocurred</p>
  </div>
</div>
<div *ngIf="!nodes" class="boxes">
  <section class="errorMessage">
    <h1>An error has ocurred, please contact with support</h1>
  </section>
</div>
