.tooltip {
  padding: 10px 5px;

  &__text {
    text-align: center;

    span {
      font-weight: bolder !important;
    }
  }
}

::ng-deep .chart-legend .legend-labels {
  border: 1px solid #00AEFF;
  background: none !important;

  .legend-label-color {
    border-radius: 100%;
  }
}
