@import './shared/utils/vars.scss';

::ng-deep * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Rubik-Light', sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

::ng-deep body {

  color: white;
  background: #060606;
}

::ng-deep::-webkit-scrollbar {
  width: 13px;
  background: $primaryColor--light;
}

::ng-deep::-webkit-scrollbar-thumb {
  border: 1px solid $secondaryColor;
  border-radius: 10px;
  background: $primaryColor--light;
}

::ng-deep::-webkit-scrollbar-thumb:hover {
  background: $primaryColor;
}

::ng-deep::-webkit-scrollbar-thumb:active {
  background: $secondaryColor--dark;
}
