@import '../../../shared/utils/vars.scss';

.node {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 5px auto;
  width: 98%;
  height: 60px;
  background-color: $primaryColor;

  &__id {
    @include flex-default;
    width: 20%;
    height: 100%;
    @include border-shockbyte(2px, 0);
  }

  &__info {
    @include flex-default($direction: row, $justify-content: space-around);
    width: 60%;
    height: 100%;

    p {
      font-size: clamp(15px, 18px, 20px);
      color: $secondaryColor;


      span {
        width: 30px;
        color: $complementColor;
      }
    }
  }

  &__show {
    width: 20%;
    height: 100%;

    img {
      width: 80%;
      height: 80%;
      object-fit: contain;
    }
  }
}

@media (max-width: 500px) {
  .node__info {
    @include flex-default($justify-content: space-around);
  }
}
