<div *ngIf="node" class="node">
  <div class="node__id">{{ index }}</div>
  <div class="node__info">
    <p>
      FD: <span> {{ node.free_disk | toGB }} </span> GB
    </p>
    <p>
      FR: <span> {{ node.free_ram | toGB }} </span> GB
    </p>
  </div>
  <button
    class="shockBtn1 node__show"
    (click)="selectNode(node)"
    (click)="selectedEvent()"
  >
    <img
      src="../../../../assets/svg/arrow.svg"
      alt="button to show details about node"
    />
  </button>
</div>
<!-- Here is where the table nodes show each node


  (click) => When you click on the button, it send the node info and a boolean value to open details window in mobile, or just show data in desktop



-->
