<div class="tables">
  <div class="tables__nodes">
    <nodes-table
      [nodes]="nodes"
      (Clicked)="showNode($event)"
      (toggle)="toggleStats($event)"
    ></nodes-table>
  </div>
  <div class="tables__node-details">
    <node-details
      (hideD)="toggleStats($event)"
      [show]="show"
      [node]="nodeClicked"
      [index]="nodeClicked?.id"
    ></node-details>
  </div>
</div>
<!--

  nodes-table:
    - show list of nodes
    - [nodes] = send to component nodes array
    - (clicked) = receive event from component with data from node clicked
    - (toggle) = receive event to open details window

  node-details:
    - show details from node selected
    - (hideD) = receive event to close details window
    - [show] = send boolean to show details window
    - [node] = send data from node clicked in nodes-table
    - [index] = send node index or id
 -->
