<section
  *ngIf="node && index"
  class="node-details"
  [ngClass]="{ 'show-details': show }"
>
  <!-- Header details -->
  <div class="node-details__header">
    <div class="node-details__header__id">ID: {{ index }}</div>
    <div class="node-details__header__date">
      <i>Since</i> {{ node.up_since | date }}
    </div>
    <button
      (click)="toggleShow()"
      class="shockBtn2 node-details__header__closeBtn"
    >
      X
    </button>
  </div>
  <!-- Node details -->
  <div class="node-details__details">
    <!-- Disk details -->
    <section class="stats-structure node-details__details__disk">
      <h2 class="details__title disk__title">DISK</h2>
      <!-- Text -->
      <div class="disk__text-details details__text">
        <p class="total text-details" id="disk__total">
          Total:
          <span class="text-details__value">
            {{ node.allocated_disk + node.free_disk | toGB }}
          </span>
          GB
        </p>
        <p class="allocated text-details" id="disk__allocated">
          Allocated:
          <span class="text-details__value">
            {{ node.allocated_disk | toGB }}
          </span>
          GB
        </p>
        <p class="free text-details" id="disk__free">
          Free:
          <span class="text-details__value"> {{ node.free_disk | toGB }} </span>
          GB
        </p>
      </div>
      <!-- Chart -->
      <div class="charts disk__chart-details">
        <chart-stats
          *ngIf="node"
          [node]="node"
          [colors]="colors"
          [labels]="false"
          [doughnut]="false"
          [dataType]="'disk'"
        ></chart-stats>
      </div>
    </section>
    <!-- Ram details -->
    <section class="stats-structure details__ram">
      <h2 class="details__title">RAM</h2>
      <!-- Text -->
      <div class="ram__text-details details__text">
        <p class="total text-details" id="ram__total">
          Total:
          <span class="text-details__value">
            {{ node.allocated_ram + node.free_ram | toGB }}
          </span>
          GB
        </p>
        <p class="allocated text-details" id="ram__allocated">
          Allocated:
          <span class="text-details__value">
            {{ node.allocated_ram | toGB }}
          </span>
          GB
        </p>
        <p class="free text-details" id="ram__free">
          Free:
          <span class="text-details__value"> {{ node.free_ram | toGB }} </span>
          GB
        </p>
      </div>
      <!-- Chart -->
      <div class="charts ram__chart-stats" id="ram_chart">
        <chart-stats
          *ngIf="node"
          [node]="node"
          [colors]="colors"
          [labels]="false"
          [legend]="false"
          [doughnut]="false"
          [dataType]="'ram'"
        ></chart-stats>
      </div>
    </section>
  </div>
</section>
<h2 class="tip" *ngIf="!node">Click on any of this Nodes to see details</h2>
