@import '../utils/vars.scss';

/* MOBILE CONFIG */
ul {
  list-style: none;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: [left-col] 30% [center-col] 40% [right-col] 30%;
  grid-template-rows: [header] 100%;
  grid-template-areas:
    "user logo menu-btn-open";
  width: 100%;
  height: 80px;
  border-bottom: 10px solid $primaryColor--light;
  color: white;
  background-color: $primaryColor;
  box-shadow: 0px 8px 25px rgba(0, 174, 255, 0.1);

  .user {
    grid-area: user;
    @include flex-default;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    p {
      margin-top: 2px;
      font-size: clamp(8px, 12px, 15px); // adjust font size with a min of 8px, pref of 12px and max of 15px
    }
  }

  .logo {
    grid-area: logo;
  }

  .sideBar-btn {
    width: 34px;
    height: 34px;
    @include border-shockbyte(1px, 0);
    background: url('../../../assets/svg/menu.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    transition: background .5s ease-in-out;

  }

  .sideBar-btn:hover {
    background: $secondaryColor;
    transition: background .5s ease-in-out;
  }

  .sideBar-btn--open {
    grid-area: menu-btn-open;
  }

  .open {
    right: 0 !important;
    z-index: 1000;
    transition: right .5s ease-in-out;
  }

  .sideBar {
    position: fixed;
    top: 0;
    right: 100%;
    z-index: 1000;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: [left-col] 30% [center-col] 40% [right-col] 30%;
    grid-template-rows: [top-row] 8% [center-row] 25% [bottom-row] 67%;
    grid-template-areas:
      ". . menu-btn-close"
      "logo logo logo"
      "list list list ";
    width: 100%;
    height: 100%;
    background-color: $primaryColor--light;
    transition: right .5s ease-in-out;

    &__logo {
      grid-area: logo;
      @include flex-default;
      width: 90%;
      height: 30%;



      .logo-image {
        width: 80%;
        height: 80%;
        object-fit: contain;
      }
    }

    &__navBar {
      grid-area: list;
      width: 90%;
      height: 70%;

      &-list {
        width: 100%;
        height: 100%;

        .list-item {
          @include flex-default;
          margin: 0 auto;
          width: 70%;
          height: 80px;
          @include border-shockbyte(1px);
          @include gradientEffect-before($primaryColor, $secondaryColor, right, left)
        }

        .list-item:hover {
          @include gradientEffect-after(right);
        }
      }
    }

    .sideBar-btn--close {
      grid-area: menu-btn-close;
    }
  }

  .navBar {
    display: none;
  }


}

.desktopLogo {
  display: none;
}

/* DESKTOP CONFIG */
@media (min-width: 1000px) {

  .desktopLogo {
    display: block;
    width: 60%;
    height: 60%;
  }

  .mobileLogo {
    display: none;
  }

  header {
    grid-template-areas:
      "user logo navBar";

    .navBar {
      grid-area: navBar;
      display: block;
      width: 100%;
      height: 100%;

      &__list {
        width: 50%;
        height: 100%;

        .list-item {
          @include flex-default;

          width: 80%;
          height: 100%;
          border-left: 2px solid $secondaryColor;
          border-right: 2px solid $secondaryColor;
        }
      }
    }
  }


  .sideBar-btn,
  .sideBar {
    display: none;
  }
}
