<header>
  <section class="user">
    <img
      src="../../../assets/png/profile.png"
      alt="profile photo"
      class="user__profile-img"
    />
    <p class="user__profile-role">Role</p>
  </section>
  <section class="logo">
    <a routerLink="/dashboard" class="logo__home"
      ><img
        class="desktopLogo logo__image"
        src="../../../assets/png/shockbyte light.png"
        alt="Logo"
      />
      <img
        class="mobileLogo logo__image"
        src="../../../assets/png/logo.png"
        alt="Logo"
      />
    </a>
  </section>
  <nav class="navBar">
    <!-- Just appear in Dekstop screen -->
    <ul class="navBar__list">
      <li class="list-item">Dashboard</li>
    </ul>
  </nav>
  <button
    class="sideBar-btn sideBar-btn--open"
    (click)="toggleSideBar()"
  ></button>
  <section class="sideBar" [ngClass]="{ open: sideBar }">
    <!-- Just in mobile -->
    <button
      class="sideBar-btn sideBar-btn--close"
      (click)="toggleSideBar()"
    ></button>
    <div class="sideBar__logo">
      <img
        src="../../../assets/png/shockbyte light.png"
        alt="logo sidebar shockbyte"
        class="logo-image"
      />
    </div>
    <nav class="sideBar__navBar">
      <ul class="sideBar__navBar-list">
        <li class="list-item">Dashboard</li>
      </ul>
    </nav>
  </section>
</header>
